<section class="flex pl-[30px] pr-[30px] mt-[120px]">
  <div>
    <img src="/caleb.jpg" alt="" />
  </div>
  <div>
    <h1
      class="text-[#1f1f25] text-2xl md:text-3xl lg:text-5xl font-[700] font-['Poppins'] px-10"
    >
      About Me
    </h1>
    <p>
      I see myself as a proactive, thoughtful and very committed person. My main
      experience is in web application development. I'm from Peru! I have
      knowledge of Javascript, React, Node JS and relational databases.
    </p>
  </div>
</section>
