---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar/Navbar.astro'
import Sider from '../components/Sider/Sider.astro'
import About from '../components/About/About.astro'
---

<Layout title="Caleb Castro.">
  <Navbar />
  <Sider />
  <main>
    <About />
  </main>
</Layout>
